html {
  font-size: 50px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: 21.33333333rem;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 24rem;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 25px;
  }
}
@media screen and (min-width: 384px) {
  html {
    font-size: 25.6px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 26.66666667px;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 27.6px;
  }
}
@media screen and (min-width: 424px) {
  html {
    font-size: 28.26666667px;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 32px;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 36px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 48px;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 50px;
  }
}
body {
  min-width: 320px;
  width: 15rem;
  margin: 0 auto;
  line-height: 1.5;
  font-family: Arial, Helvetica, STHeiTi, sans-serif;
  background: #F2F2F2;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
.top-banner {
  position: relative;
  width: 15rem;
  height: 2rem;
}
.top-banner .top-banner-img {
  display: block;
  width: 100%;
  height: 100%;
}
.top-banner img {
  display: block;
  width: 100%;
  height: 100%;
}
.top-banner .close {
  position: absolute;
  top: 0.5rem;
  left: 0.1rem;
  display: block;
  width: 1rem;
  height: 1rem;
  background: url(../images/close.png) no-repeat center center;
  background-size: 0.6rem auto;
}
.header {
  width: 15rem;
  height: 3.6rem;
  background-color: #ffdb47;
}
.header .header-top {
  display: flex;
  width: 13.64rem;
  height: 1.76rem;
  padding: 0 0.68rem;
  justify-content: space-between;
  align-items: center;
}
.header .header-top .classify img {
  display: block;
  width: 0.72rem;
  height: 1.2rem;
}
.header .header-top .ad img {
  display: block;
  width: 9rem;
  height: 1.1rem;
}
.header .header-top .login img {
  display: block;
  width: 0.72rem;
  height: 1.2rem;
}
.header .search {
  position: relative;
  width: 15rem;
  height: 1.84rem;
  padding: 0 0.48rem;
  box-sizing: border-box;
}
.header .search a {
  position: absolute;
  top: 0;
  left: 0.48rem;
  display: block;
  width: 14.04rem;
  height: 1.76rem;
}
.header .search i {
  position: absolute;
  top: 0.52rem;
  left: 0.84rem;
  width: 0.72rem;
  height: 0.72rem;
  background: url(../images/search_btn.png) no-repeat;
  background-size: 0.72rem auto;
}
.header .search form {
  display: flex;
  width: 14.04rem;
  height: 1.76rem;
  align-items: center;
}
.header .search form input {
  width: 14.04rem;
  height: 1.28rem;
  padding: 0.06rem 0.4rem 0 1.3rem;
  box-sizing: border-box;
  border: 0;
  font-size: 0.56rem;
  border-radius: 0.64rem;
}
.banner {
  width: 15rem;
  height: 5.2rem;
  background: url(../images/banner_bg.png) no-repeat 0 0;
  background-size: 15rem auto;
}
.banner .wrapper {
  position: relative;
  width: 14.04rem;
  height: 5.2rem;
  margin: 0 auto;
  overflow: hidden;
}
.banner .wrapper ul {
  position: relative;
  width: 40rem;
  height: 5.2rem;
  margin: 0;
}
.banner .wrapper ul li {
  position: absolute;
  top: 0;
  left: 14.04rem;
  width: 14.04rem;
  height: 5.2rem;
  border-radius: 0.48rem;
  overflow: hidden;
}
.banner .wrapper ul li.current {
  left: 0;
}
.banner .wrapper ul li img {
  width: 14.04rem;
  height: 5.2rem;
}
.banner .wrapper ol {
  position: absolute;
  bottom: -0.64rem;
  left: 50%;
  margin-left: -3.2rem;
  display: flex;
  height: 0.16rem;
  justify-content: center;
  align-items: center;
}
.banner .wrapper ol li {
  margin: 0 0.08rem;
  width: 0.36rem;
  height: 0.16rem;
}
.banner .wrapper ol li i {
  display: block;
  width: 0.18rem;
  height: 0.16rem;
  background-color: #0000004D;
  border-radius: 0.16rem;
}
.banner .wrapper ol li.current {
  background-color: #fff;
  border-radius: 0.16rem;
}
.banner .wrapper ol li.current i {
  display: none;
}
nav {
  width: 15rem;
  height: 6.16rem;
}
nav a {
  float: left;
  width: 3rem;
  height: 2.84rem;
  text-decoration: none;
}
nav a img {
  display: block;
  width: 1.68rem;
  height: 1.68rem;
  margin: 0.48rem 0.66rem 0;
}
nav a .title {
  height: 0.56rem;
  line-height: 0.56rem;
  text-align: center;
  font-size: 0.44rem;
  color: #666;
}
.floor-content {
  width: 15rem;
  height: 4.68rem;
}
.floor-content .floor-content-bg {
  display: flex;
  width: 15rem;
  height: 4.68rem;
}
.floor-content .floor-content-bg a {
  height: 4.68rem;
  margin-right: 0.04rem;
}
.floor-content .floor-content-bg a img {
  display: block;
  height: 4.68rem;
}
.classifys {
  display: flex;
  width: 14.08rem;
  margin: 0.24rem auto 0;
  flex-wrap: wrap;
}
.classifys .left {
  width: 7rem;
  height: 5.16rem;
  margin-left: 0.03rem;
  background-color: #fff;
}
.classifys .left h1 {
  margin: 0.36rem 0.16rem 0 0.48rem;
  font-size: 0.56rem;
}
.classifys .left p {
  margin: 0.08rem 0 0 0.48rem;
  font-size: 0.48rem;
  color: #999;
}
.classifys .left ul {
  display: flex;
  width: 7rem;
  height: 2.98rem;
  margin: 0.1rem 0 0;
  padding: 0 0 0 0.56rem;
}
.classifys .left ul li {
  display: block;
  width: 2.4rem;
  height: 2.98rem;
  margin-right: 1.1rem;
}
.classifys .left ul li a {
  display: block;
  width: 2.4rem;
  height: 2.98rem;
}
.classifys .left ul li a img {
  display: block;
  width: 2.4rem;
  height: 2.4rem;
}
.classifys .left ul li a .money {
  width: 2.4rem;
  height: 0.56rem;
  margin: 0.02rem 0 0;
  text-align: center;
}
.classifys .left ul li a .money span {
  color: #ff5500;
  font-size: 0.44rem;
}
.classifys .left ul li a .money span.bloder-font {
  font-size: 0.52rem;
}
.classifys .left-item4 {
  width: 7rem;
  height: 5.16rem;
  margin-left: 0.03rem;
  margin-bottom: 0.03rem;
  background-color: #fff;
}
.classifys .left-item4 h1 {
  margin: 0.36rem 0.16rem 0 0.48rem;
  font-size: 0.56rem;
}
.classifys .left-item4 p {
  margin: 0.08rem 0 0 0.48rem;
  font-size: 0.48rem;
  color: #999;
}
.classifys .left-item4 ul {
  display: flex;
  width: 7rem;
  height: 2.98rem;
  margin: 0.1rem 0 0;
  padding: 0 0 0 0.56rem;
}
.classifys .left-item4 ul li {
  display: block;
  width: 2.4rem;
  height: 2.98rem;
  margin-right: 1.1rem;
}
.classifys .left-item4 ul li a {
  display: block;
  width: 2.4rem;
  height: 2.98rem;
}
.classifys .left-item4 ul li a img {
  display: block;
  width: 2.4rem;
  height: 2.4rem;
}
.classifys .left-item4 ul li a .money {
  width: 2.4rem;
  height: 0.56rem;
  margin: 0.02rem 0 0;
  text-align: center;
}
.classifys .left-item4 ul li a .money span {
  color: #ff5500;
  font-size: 0.44rem;
}
.classifys .left-item4 ul li a .money span.bloder-font {
  font-size: 0.52rem;
}
.classifys .title-four {
  display: flex;
  width: 14.04rem;
  height: 3.44rem;
  margin-top: 0.2rem 0.48rem 0;
  background-color: #fff;
}
.classifys .title-four .left-title {
  width: 3.46rem;
  height: 3.44rem;
  padding: 0.94rem 0.36rem 0;
}
.classifys .title-four .left-title a {
  display: block;
  width: 2.74rem;
  height: 1.54rem;
}
.classifys .title-four .left-title a p {
  margin: 0;
}
.classifys .title-four .left-title a p.title {
  width: 2.74rem;
  height: 0.9rem;
  font-size: 0.64rem;
  font-weight: bold;
  color: #444;
}
.classifys .title-four .left-title a p.desc {
  width: 2.74rem;
  height: 0.64rem;
  font-size: 0.48rem;
  color: #999;
}
.classifys .title-four .four-space {
  display: flex;
  width: 10.16rem;
  height: 3.44rem;
  justify-content: space-between;
  margin-top: 0.62rem;
}
.classifys .title-four .four-space a {
  display: block;
  width: 2.4rem;
  height: 3.44rem;
}
.classifys .title-four .four-space a img {
  display: block;
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
}
.classifys .title-four .four-space a .titles {
  display: block;
  width: 2.4rem;
  height: 0.6rem;
  margin: 0 auto;
  font-size: 0.44rem;
  color: #333;
  text-align: center;
}
.new-bd {
  width: 15rem;
  height: 16.66rem;
}
.new-bd .title-image {
  width: 15rem;
  height: 1.2rem;
}
.new-bd .title-image a {
  display: block;
  width: 15rem;
  height: 1.2rem;
}
.new-bd .title-image a img {
  display: block;
  width: 15rem;
  height: 1.2rem;
}
.new-bd .new-bd-list {
  display: flex;
  width: 15rem;
  height: 15.2rem;
  justify-content: center;
  margin-top: 0;
}
.new-bd .new-bd-list .bd-three {
  display: flex;
  width: 14.04rem;
  height: 5.32rem;
  justify-content: space-around;
}
.new-bd .new-bd-list .bd-three .newbd-item {
  width: 4.52rem;
  height: 5.32rem;
}
.new-bd .new-bd-list .bd-three .newbd-item a {
  display: block;
  position: relative;
  width: 4.52rem;
  height: 4.8rem;
  background-color: #fff;
  border-radius: 0 0 0.24rem 0.24rem;
}
.new-bd .new-bd-list .bd-three .newbd-item a .pro {
  display: block;
  width: 3rem;
  height: 3rem;
  margin: 0.3rem 0.76rem 0;
}
.new-bd .new-bd-list .bd-three .newbd-item a .item-pro {
  display: block;
  width: 4.52rem;
  height: 1.86rem;
}
.new-bd .new-bd-list .bd-three .newbd-item a .three-name {
  position: absolute;
  top: 1.8rem;
  left: 50%;
  transform: translateX(-25%);
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.new-bd .new-bd-list .bd-three .newbd-item a .three-name span {
  width: 2rem;
  height: 0.68rem;
  border: 1px solid #D9A87A;
  border-radius: 0.34rem;
  font-size: 0.44rem;
  color: #D9A87A;
  background-color: #fff;
  text-align: center;
}
.new-bd .new-bd-list .bd-three .newbd-item a .three-title {
  position: absolute;
  top: 3rem;
  left: 10%;
  font-size: 0.52rem;
  color: #fff;
}
.new-bd .new-bd-list .bd-three .newbd-item a .three-desc {
  position: absolute;
  top: 3.8rem;
  left: 10%;
  font-size: 0.44rem;
  color: #fff;
}
