* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0 auto;
    width: 100%;
    max-width: 540px;
    min-width: 320px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(241, 241, 241);
    height: 5000px;
}
a {
    text-decoration: none;
}
ul {
    padding: 0;
    list-style: none;
}
/* 头部 */
.bgc{
    height: 220px;
    max-width: 540px;
    min-width: 320px;
    /* padding-top: 10px; */
    position: relative;
}
.bgc img {
    width: 540px;
    height: 260px;
}
.top{
    width: 100%;
    position: fixed;
    max-width: 540px;
    min-width: 320px;
    top:0;
    padding-top: 10px;
    background: linear-gradient(to bottom,rgba(0,0,0,.4),rgba(0,0,0,0));
}
.search {
    width: 80%;
    float: left;
    height: 30px;
    position: relative;
}
.search-btn {
    width: 35px;
    height: 28px;
    background: url(../img/search.png) no-repeat 14px 5px;
    background-size: 25px auto;
    position: absolute;
    top: 0;
    left: 10px;
}
.top input {
    width: 95%;
    height: 18px;
    padding:5px;
    padding-left: 40px;
    border-radius: 50px;
    border: none;
    outline: none;
    margin-left:10px;
    font-size: 14px;
}
.mine {
    width: 40px;
    height: 40px;
    float: right;
    margin-right:8px;
    position: absolute;
    top:2px;
    right:5px;

}
.mine-btn {
    width: 22px;
    height: 22px;
    background: url(../img/search.png) no-repeat 0 -37px;
    background-size: 22px auto;
    margin: 0 auto;
}
.mine span {
    display: block;
    font-size: 12px;
    color: #ffffff;
    letter-spacing: 5px;
    margin-left: 6px;
    margin-top: 2px;
}
/* 菜单选项 */
.menu {
    width: 500px;
    height: 70px;
    background-color: #fff;
    border-radius: 15px;
    position: absolute;
    transform: translateX(4%);
}
.menu ul {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    height: 70px;
}
.menu>ul>li {
    width: 60px;
    height: 60px;
    margin: 10px;
}
.menu ul li:nth-child(1) .menu_list {
    width: 40px;
    height: 40px;
    background: url(../img/menu.png) no-repeat 1px 1px;
    background-size: 40px auto;
    margin:0 auto;
}
.menu ul li:nth-child(2) .menu_list {
    width: 40px;
    height: 40px;
    background: url(../img/menu.png) no-repeat 1px -39px;
    background-size: 40px auto;
    text-align: center;
    margin:0 auto;
}
.menu ul li:nth-child(3) .menu_list {
    width: 40px;
    height: 40px;
    background: url(../img/menu.png) no-repeat 1px -80px;
    background-size: 40px auto;
    text-align: center;
    margin:0 auto;
}
.menu ul li:nth-child(4) .menu_list {
    width: 40px;
    height: 40px;
    background: url(../img/menu.png) no-repeat 1px -118px;
    background-size: 40px auto;
    text-align: center;
    margin:0 auto;
}
.menu ul li:nth-child(5) .menu_list {
    width: 40px;
    height: 40px;
    background: url(../img/menu.png) no-repeat 1px -160px;
    background-size: 40px auto;
    text-align: center;
    margin:0 auto;
}
.menu ul span {
    display: block;
    color: #222222;
    font-size: 12px;
    text-align: center;
}
/* 宫格表 */
.nav {
    max-width: 500px;
    min-width: 320px;
    border-radius: 15px;
    background-color: rgb(177, 177, 177);
    height: 200px;
    margin-top: 80px;
    transform: translateX(4%);
}
/* .nav img {
    width: 80px;
    position: absolute;
    top:100px
} */
.nav-common {
    height: 64px;
}
.nav a {  
    color: white;
    font-size: 14px;
}
.hotel {
    padding-top:25px
}
.nav .hotel :nth-child(3){
    color: #A05416;
}
.nav  a{
    border-left: 1px #fff solid;  
}
.nav .hotel :nth-child(1) {
    width: 135px;
    background-color: rgb(250, 82, 82);
    padding: 25px 46px 25px 12px;
    border-radius: 15px 0 0 0 ;
}
.nav .hotel :nth-child(2) {
    width: 135px;
    background-color: rgb(250, 82, 82);
    padding: 25px 7px ;
}
.nav .hotel :nth-child(3) {
    width: 135px;
    background-color: rgb(250, 82, 82);
    padding: 25px 48px ;
    border-radius: 0 15px 0 0 ;
}

.nav .fight :nth-child(1) {
    width: 135px;
    background-color: rgb(82, 149, 250);
    padding: 25px 46px 25px 12px;
}
.nav .fight :nth-child(2) {
    width: 135px;
    background-color: rgb(82, 149, 250);
    padding: 25px 1px ;
}
.nav .fight :nth-child(3) {
    width: 135px;
    background-color: rgb(82, 149, 250);
    padding: 25px 1px ;
}
.nav .fight :nth-child(4) {
    width: 135px;
    background-color: rgb(82, 149, 250);
    padding: 25px 1px ;
} 
.travel {
    padding-top:3px
}
.nav .travel :nth-child(1) {
    width: 135px;
    background-color: rgb(47, 219, 176);
    padding: 25px 46px 25px 12px;
    border-radius: 0 0 0 15px;
}
.nav .travel :nth-child(2) {
    width: 135px;
    background-color: rgb(47, 219, 176);
    padding: 25px 1px ;
}
.nav .travel :nth-child(3) {
    width: 135px;
    background-color: rgb(47, 219, 176);
    padding: 25px 9px ;
}
.nav .travel :nth-child(4) {
    width: 135px;
    background-color: rgb(47, 219, 176);
    padding: 25px 10px;
    border-radius: 0 0 15px 0;
} 
/*
.checkList {
    width: 96%;
    overflow: hidden;
    margin: 50px auto;
}
.list {
    width: 100%;
    overflow: hidden;
}
.list a:nth-child(1) {
    width: 20%;
    height: 50px;
    background-color: red;
    border: 1px black solid;
    display: block;
}
.list a {
    width: 20%;
    height: 50px;
    float: left;
    background-color: red;
    border: 1px black solid;
    display: block;
}
.list .special {
    width: 40%;
    
}*/