/* 初始化样式 */
body {
	max-width: 540px;
	min-width: 320px;
	margin: 0 auto;
	font: normal 14px/1.5 Tahoma,"Lucida Grande",Verdana,"Microsoft	Yahei",STXihei,hei;
	color: #000;
	background: #f2f2f2;
	overflow-x: hidden;
	-webkit-tap-highlight-color: transparent;
}
/*点击高亮我们需要清除清除 设置为transparent 完成透明*/
*{
    -webkit-tap-highlight-color: transparent;
  }
  /*在移动端浏览器默认的外观在iOS上加上这个属性才能给按钮和输入框自定义样式*/
  input{
    -webkit-appearance: none;
  }
  /*禁用长按页面时的弹出菜单*/
  img,a { -webkit-touch-callout: none; }
a {
    text-decoration: none;
    color: #222222;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
/* 搜索模块 */
.search-index {
    display: flex;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 540px;
    min-width: 320px;
    height: 44px;
    background: linear-gradient(to bottom,rgba(0,0,0,.4),rgba(0,0,0,0));
}
.search {
    flex: 1;
    background-color: #fff;
    height: 28px;
    margin: 8px 0 8px 10px;
    border-radius: 14px;
}
.search-index .search span {
    position: relative;
    padding-left: 35px;
    line-height: 18px;
    font-size: 15px;
    color: #666;
}
.search-index .search span::after {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 10px;
    top: 5px;
    background: url(../img/sprite.png) no-repeat 0px 0px;
    background-size: 21px auto;
}
.user {
    width: 51px;
    height: 44px;
    /* background-color: rgb(146, 146, 146); */
    color: #666;
    text-align: center;
    padding-right: 6px;
    box-sizing: border-box;
    color: #fff;
}
.user::before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background: url(../img/search.png) no-repeat 0 -35px;
    background-size: 21px auto;
    margin: 4px auto 0;

}
/* 焦点图 */
.focus img{
    width: 100%;
}
/* 局部导航 */
.local-nav {
    display: flex;
    position: relative;
    background-color: #fff;
    border-radius: 15px;
    margin: -60px 10px 8px;
}
.local-nav li {
    flex: 1;
}
.local-nav li a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.local-nav li a span {
    font-size: 12px;
}
.local-nav li [class^=local-nav-icon] {
    width: 40px;
    height: 40px;
    background: url(../img/menu.png) no-repeat ;
    background-size: 40px auto;
}
.local-nav li .local-nav-icon-icon2 {
    background-position: 0 -40px;
}
.local-nav li .local-nav-icon-icon3{
    background-position: 0 -80px;
}
.local-nav li .local-nav-icon-icon4{
    background-position: 0 -120px;
}
.local-nav li .local-nav-icon-icon5{
    background-position: 0 -160px;
}
/* 宫格表 */
.nav {
    margin: 0 12px 40px;
    border-radius: 8px;
    overflow: hidden;
}
.nav .nav-common {
    display: flex;
    border-bottom: 1px solid #fff;
    background-image: linear-gradient(to right,#4b8fed,#53bced);
}
.nav .nav-common:nth-child(3) {
    border-bottom: 0;
}
.nav .nav-common a {
    padding: 25.6px 0;
    line-height: 14px;
    color:  #fff;
    box-sizing: border-box;
}
.nav .nav-common a:nth-child(1) {
    flex: 1.347;
    padding-left: 12px;
    background: url(../img/flight.png) no-repeat right bottom;
    background-size: auto 34px;
}
.nav .nav-common a:nth-child(2) {
    background: url(../img/train.png) no-repeat left bottom;
    background-size: 37px auto;
}
.nav .nav-common a:nth-child(n+2) {
    flex: 1;
    border-left: 1px solid #fff;
    text-align: center;
}
/* 添加导航中不同的样式部分 */
.nav .nav-common:nth-child(1) {
    background-image: linear-gradient(to right,#fa5a56,#fb8550 56%);
}
.nav .nav-common:nth-child(1) a:nth-child(3) {
    flex: 2;
    background-image: url(../img/hot_sale.png),linear-gradient(to right,#ffbc49,#ffd252);
    background-size: 161px auto;
    background-position: right bottom;
    color: #A05416;
}
.nav .nav-common:nth-child(1) a:nth-child(1) {
    background-image: url(../img/hotel.png);
    background-size: 73px auto;
}
.nav .nav-common:nth-child(1) a:nth-child(2) {
    background-image: url(../img/minsu.png);
}
.nav .nav-common:nth-child(3) {
    background-image: linear-gradient(to right,#34c2aa,#6cd557);
}
.nav .nav-common:nth-child(3) a:nth-child(1) {
    background-image: url(../img/travel.png);
    background-size: auto 47px;
}
.nav .nav-common:nth-child(3) a:nth-child(2) {
    background-image: url(../img/dingzhi.png);
    background-size: 61px auto;
}
/* 底部导航 */
.sub-nav {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-content: flex-start;
    height: 110px;
    margin-top: -37px;
}
.sub-nav li {
    flex: 20%;
    margin-bottom: 5px;
}
.sub-nav li a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sub-nav li a span {
    font-size: 12px;
}
.sub-nav li [class^=sub-nav] span:nth-child(1){
    display: block;
    width: 28px;
    height: 28px;
    background: url(../img/un_ico_subnav2x@v7.152.png) no-repeat;
    background-size: 28px auto;
}
.sub-nav li .sub-nav-wifi span:nth-child(1) {
    background-position: 0 -28px;
}
.sub-nav li .sub-nav-visa span:nth-child(1) {
    background-position: 0 -56px;
}
.sub-nav li .sub-nav-shopping span:nth-child(1) {
    background-position: 0 -84px;
}
.sub-nav li .sub-nav-guide span:nth-child(1) {
    background-position: 0 -112px;
}
.sub-nav li .sub-nav-sale span:nth-child(1) {
    background-position: 0 -140px;
}
.sub-nav li .sub-nav-finance span:nth-child(1) {
    background-position: 0 -168px;
}
.sub-nav li .sub-nav-cart span:nth-child(1) {
    background-position: 0 -196px;
}
.sub-nav li .sub-nav-photo span:nth-child(1) {
    background-position: 0 -224px;
}
.sub-nav li .sub-nav-more span:nth-child(1) {
    background-position: 0 -252px;
}
/* 热门活动区域 */
.sales-box {
    border-top: 1px solid #dbdbdb;
  }
  .sales-box .sales-hd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    padding: 0 8px 1px;
    border-bottom: 1px solid #dbdbdb;
    background-color: #fff;
  }
  .sales-box .sales-hd h2 {
    position: relative;
    width: 79px;
    height: 15px;
    background: url(../img/hot.png) no-repeat 0 -20px;
    background-size: 79px auto;
  }
  .sales-box .sales-hd h2 i {
    position: absolute;
    right: -40px;
    top: 0;
    width: 36px;
    height: 15px;
    background: url(../img/icon-gg@2x.png) no-repeat;
    background-size: 36px auto;
  }
  .sales-box .sales-hd .more {
    position: relative;
    height: 20px;
    padding: 0 18px 0 12px;
    border-radius: 10px;
    background-image: linear-gradient(to right,#dc5569,#e068c4);
    font-size: 12px;
    color: white;
  }
  .sales-box .sales-hd .more::after {
    position: absolute;
    right: 9px;
    top: 5px;
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
  }
  .sales-box .sales-bd {
    display: flex;
    width: 100%;
  }
  .sales-box .sales-bd a {
    flex: 1;
    position: relative;
    border-top: 2px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
  }
  .sales-box .sales-bd a:nth-child(1) {
    border-right: 1px solid #fafafa;
  }
  .sales-box .sales-bd a img {
    display: block;
    width: 100%;
  }
  .sales-box .sales-bd a span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 26px;
    height: 14px;
    border-top-right-radius: 4px;
    background-color: #b3b3b3;
    color: white;
    font-size: 12px;
    line-height: 14px;
  }
  
/* 底部工具栏 */
.tool-cn {
    margin-top: 10px;
    background-color: #fff;
    border-top: 1px solid rgb(219, 216, 216);
    border-bottom:1px solid rgb(219, 216, 216);
    height: 60px;
}
.tool-cn ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.tool-cn ul li {
    flex: 1;
}
.tool-cn ul li a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.tool-cn ul li:nth-child(1) span:nth-child(1) {
    width: 20px;
    height: 20px;
    background: url(../img/dianhua.png) no-repeat;
    background-size: 20px 20px;
    margin:10px auto 2px auto;
}
.tool-cn ul li:nth-child(2) span:nth-child(1) {
    width: 20px;
    height: 20px;
    background: url(../img/xiazai.png) no-repeat;
    background-size: 20px 20px;
    margin:10px auto 2px auto;
}
.tool-cn ul li:nth-child(3) span:nth-child(1) {
    width: 20px;
    height: 20px;
    background: url(../img/wode.png) no-repeat;
    background-size: 20px 20px;
    margin:10px auto 2px auto;
}
/* 底部文字 */
.tool-change {
    padding: 5px;
    text-align: center;
    position: relative;
    color: #666;
}
.tool-change a {
    color: #666;
}
.tool-change a:nth-child(2)::before {
    content: "";
    display: block;
    position: absolute;
    left: 226px;
    top: 7px;
    width: 20px;
    height: 20px;
    background: url(../img/yuyan.png) no-repeat;
    background-size: 17px 17px;
}
.tool-change a:nth-child(2)::after {
    content: "";
    display: block;
    position: absolute;
    left: 304px;
    top: 4px;
    width: 20px;
    height: 20px;
    background: url(../img/xiala.png) no-repeat;
    background-size: 25px 25px;
}
footer p,footer p a {
    color: #999;
    font-size: 12px;
}
footer p {
    text-align: center;
}